table{
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
td{
    border: 1px solid black;
    padding: 5px;
    text-align: center; 
}
th{
    text-align: center;
    background-color: aliceblue;
    color: black;
    font-weight: bold;
    padding: 5px;
    border: 1px solid black;
}
.tableHolder{
    text-align: center;
    width: 100%;
}